track.time
artefacts/
include/
lib/
src/utm.sdf
src/ipch/
src/Debug/
src/DebugU/
src/DebugTest/
src/DebugUTest/
src/Release/
src/ReleaseU/
src/utm/ipch/
src/utm/Debug/
src/utm/DebugU/
src/utm/DebugTest/
src/utm/DebugUTest/
src/utm/Release/
src/utm/ReleaseU/
src/corefilters/ipch/
src/corefilters/Debug/
src/corefilters/DebugU/
src/corefilters/DebugTest/
src/corefilters/DebugUTest/
src/corefilters/Release/
src/corefilters/ReleaseU/
src/monitor/ipch/
src/monitor/Debug/
src/monitor/DebugU/
src/monitor/DebugTest/
src/monitor/DebugUTest/
src/monitor/Release/
src/monitor/ReleaseU/
src/dualserver/ipch/
src/dualserver/Debug/
src/dualserver/DebugU/
src/dualserver/DebugTest/
src/dualserver/DebugUTest/
src/dualserver/Release/
src/dualserver/ReleaseU/
src/proxyserver/ipch/
src/proxyserver/Debug/
src/proxyserver/DebugU/
src/proxyserver/DebugTest/
src/proxyserver/DebugUTest/
src/proxyserver/Release/
src/proxyserver/ReleaseU/
src/utm.opensdf
build.*
done.*
fail.*